@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --dark-blue: #0D0D36;
    --medium-blue: #313154;
    --light-blue: #65657F;
    --purple: #5D5FEF;
    --lilac: #CACBF6;
    --fuschia: #EF5DA8;
    --pink: #FCDDEC;
    --bg-color: #EFEFF5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--dark-blue);
    font-family: 'Nunito', sans-serif;
    margin: 4rem 2rem;
}

.mainContent {
    justify-content: center;
    text-align: center;
}

body img {
    border-radius: 50%;
    width: 10rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.infoTags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: .5rem;
}

.jobTag {
    background-color: var(--pink);
    padding: .4rem .8rem;
    border-radius: 4rem;
    color: var(--fuschia);
    font-weight: 600;
}

.levelTag {
    background-color: var(--lilac);
    padding: .4rem .8rem;
    border-radius: 4rem;
    color: var(--purple);
    font-weight: 600;
}

p {
    margin-top: .8rem;  
}

.socialMedia ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.8rem;
}

.socialMedia ul li a {
    color: var(--dark-blue);
    font-size: 1.4rem;
    
}

.github i {
    color: var(--bg-color);
    background-color: var(--dark-blue);
    padding: .8rem;
    border-radius: 80%;
    filter: drop-shadow(0px 0px 4px rgba(13, 13, 54, 0.5));
}

.youtube i {
    color: var(--bg-color);
    background-color: #F6101E;
    padding: .8rem;
    border-radius: 80%;
    filter: drop-shadow(0px 0px 5.61676px rgba(247, 16, 30, 0.5));
}

.twitter i {
    color: var(--bg-color);
    background-color: #2FB4FF;
    padding: .8rem;
    border-radius: 80%;
    filter: drop-shadow(0px 1.40419px 4.21257px rgba(0, 163, 255, 0.5));
}

.instagram i {
    color: var(--bg-color);
    background: linear-gradient(214.16deg, #EC2F7C 16.24%, #F7783B 82.09%);
    padding: .8rem;
    border-radius: 80%;
    filter: drop-shadow(0px 0px 5.61676px rgba(236, 47, 124, 0.5));;
}

.socialMedia li {
    list-style-type: none;
}

.btnSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    margin-top: 2rem;
}

.btnLinks {
    background-color: var(--bg-color);
    color: var(--dark-blue);
    border: .1rem solid var(--dark-blue);
    border-radius: 4rem;
    letter-spacing: .2rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    width: 35%;
    padding: .4rem;
}

.btnLinks:hover {
    background-color: var(--dark-blue);
    color: var(--bg-color);
    transition: all ease-in .4s;
}