@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --dark-color: #322435;
    --grey: #ADA9B1;
    --dark-pink: #DC8B90;
    --medium-pink: #E7A6AA;
    --pink: #FAE4E3;
    --bg-color: #EFEFF5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--dark-color);
    font-family: 'Nunito', sans-serif;
    margin: 1.2rem 2rem;
}

.container {
    padding: 1rem 2rem;
}

.mainContent {
    justify-content: center;
    text-align: center;
}

body img {
    border-radius: 50%;
    width: 10rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.infoTags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: .5rem;
}

.jobTag {
    background-color: var(--pink);
    padding: .4rem .8rem;
    border-radius: 4rem;
    color: var(--dark-pink);
    font-weight: 600;
}

.levelTag {
    background-color: var(--grey);
    padding: .4rem .8rem;
    border-radius: 4rem;
    color: var(--purple);
    font-weight: 600;
}

p {
    margin-top: .8rem;  
}

.socialMedia ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.8rem;
}

.socialMedia ul li a {
    color: var(--dark-color);
    font-size: 1.4rem;
    
}

.github i {
    color: var(--bg-color);
    background-color: var(--dark-color);
    padding: .8rem;
    border-radius: 80%;
    filter: drop-shadow(0px -1px 4px rgba(50, 36, 53, 0.25));
}

.youtube i {
    color: var(--bg-color);
    background-color: var(--dark-color);
    padding: .8rem;
    border-radius: 80%;
    filter: drop-shadow(0px -1px 4px rgba(50, 36, 53, 0.25));
}

.twitter i {
    color: var(--bg-color);
    background-color: var(--dark-color);
    padding: .8rem;
    border-radius: 80%;
    filter: drop-shadow(0px -1px 4px rgba(50, 36, 53, 0.25));
}

.instagram i {
    color: var(--bg-color);
    background-color: var(--dark-color);
    padding: .8rem;
    border-radius: 80%;
    filter: drop-shadow(0px -1px 4px rgba(50, 36, 53, 0.25));
}

.socialMedia li {
    list-style-type: none;
}

.btnSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    margin-top: 2rem;
}

.btnLinks {
    background-color: var(--bg-color);
    color: var(--dark-blue);
    border: .1rem solid var(--dark-color);
    border-radius: 4rem;
    letter-spacing: .2rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    width: 25%;
    padding: .4rem;
}

.btnLinks:hover {
    background-color: var(--dark-color);
    color: var(--bg-color);
    transition: all ease-in .4s;
}

/* Responsividade */

@media (max-width: 1024px) {
    p {
        line-height: 2rem;
    }

    .btnLinks {
        width: 80%;
    }
}


@media (max-width: 844px) {

    .container {
        padding: 2rem 1rem;
    }

    p {
        line-height: 2rem;
    }

    .btnLinks {
        width: 80%;
    }
}

@media (max-width: 590px) {
    p {
        line-height: 2rem;
    }

    .btnLinks {
        width: 80%;
    }
}